 /*----------------------------------------*/
/*   Theme default CSS START
/*----------------------------------------*/
  
@font-face {
  font-family: SegoeRegular;
  src: url(../fonts/SegoeRegular.ttf);
}
@font-face {
  font-family: SegoeSemibold;
  src: url(../fonts/SegoeSemibold.ttf);
}
@font-face {
  font-family: SegoeBold;
  src: url(../fonts/SegoeBold.ttf);
}
  
body {
  font-family: SegoeRegular;
  font-weight: normal;
  font-style: normal;
  color: #707070;
  font-size: 20px;
  line-height: 27px;
 }

  
button {
  cursor: pointer; }

a:focus,
.button:focus {
  text-decoration: none;
  outline: none; }

a:focus,
a:hover {
  color: inherit;
  text-decoration: none; }

a,
button {
  color: inherit;
  outline: medium none; }

button:focus, input:focus, input:focus, textarea, textarea:focus {
  outline: 0; }

 
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: SegoeSemibold;
  font-weight: normal;
  color: #353A40;
  margin-top: 0px;
  font-style: normal;
  font-weight: 400;
  text-transform: normal; }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit; }

h1 {
  font-size: 40px;
  font-weight: 500; }

h2 {
  font-size: 35px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

ul {
  margin: 0px;
  padding: 0px; }

li {
  list-style: none; }
.container{
  max-width: 1440px;
}
input{
  color: #fff;
}

/* ===
  btn
  ====
 */

 a.theme-btn {
  font-size: 26px;
  background: #fff;
  display: inline-block;
  padding: 15px 61px;
  color: #353A40;
  border-radius: 45px;
  height: 71px;
  padding-top: 20px;
  transition: .3s;
}
a.theme-btn:hover { 
  background: #32DBC6; 
  color: #fff; 
}

/* ===
  btn
  ====
 */
.xms-block{
  display: none !important;
}


 
/*----------------------------------------*/
/*   Theme default CSS END
/*----------------------------------------*/

 
.header-top {
    background: #353A40;
    height: 55px;
    display: flex;
    align-items: center;
}

.header-top .email-address h5 {
    font-size: 22px;
    color: #fff;
    margin-left: 165px;
    margin-bottom: 0px;
    line-height: 30px;
}

.header-top .email-address h5 a {
    color: #32DBC6;
}

.header-top .social-icons {
    margin-top: -2px;
}

.header-top .social-icons li {
    display: inline-block;
}

.header-top .social-icons li a {
    display: inline-block;
    margin-left: 28px;
}

.header-top .social-icons li a.btn {
    background: #32dbc6;
    width: 157px;
    height: 39px;
    color: #fff;
    font-size: 24px;
    padding: 0;
    border-radius: 0px 0px 10px 10px;
    margin-top: -16px;
    font-family: SegoeSemibold;
    line-height: 30px;
    margin-left: 55px;
}

/* searchh-bar */
.modal-body form {
  width: 100%;
  height: 50px;
  overflow: hidden;
  position: relative;
  border-radius: 50px;
  border: 1px solid #32dbc6;
}

.modal-body form input {
  border: none;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  color: #32dbc6;
}

.modal-body form button {
  width: 70px;
  height: 100%;
  background: white;
  position: absolute;
  top: -2px;
  right: -1px;
  padding: 10px;
  border: none;
}
.modal-header {
  border: none;
}

.modal-header button.close {
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  background: #32dbc6;
  padding: 0 !important;
  line-height: 30px;
  opacity: 1;
  margin-top: -35px;
  margin-right: -31px;
  padding-bottom: 6px !important;
}
/* search-bar */



/* header-top css END */


.headdr-bottom {
  height: 116px;
  display: flex;
  align-items: center;
}

.headdr-bottom .menu-area {
    margin-top: 16px;
    text-align: right;
}

.headdr-bottom .menu-area nav ul li {
    display: inline-block;
}

.headdr-bottom .menu-area nav ul li a {
    display: inline-block;
    font-size: 26px;
    font-family: SegoeSemibold;
    margin-left: 70px;
    transition: .3s;
}

.headdr-bottom .menu-area nav ul li a:hover {
    color: #32dbc6;
}

.headdr-bottom .menu-area nav ul li a.active {
    color: #32dbc6;
}
.headdr-bottom .menu-area nav ul li a.first-child{ 
  margin-left: 0px;   
}



/* sitebar css START */
.site-bar {
  width: 320px;
  height: 100vh;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 99;
  box-shadow: 0px 10px 16px -2px #d4d4d4;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: -330px;
  transition: .3s;
}
.site-bar.siteBar_active{
  margin-left: 0;
}
.site-bar a.logo {
  display: block;
  text-align: center;
  margin-bottom: 50px;
}

.site-bar ul li a {
  display: block;
  padding-left: 45px;
  line-height: 40px;
  transition: .3s;
}

.site-bar ul li a:hover {
  color: #32dbc6;
}

.xms-block{
  display: block;
}
.site-bar a.bar_btn {
  position: absolute;
  right: 20px;
  top: 10px;
}

.site-bar a.bar_btn svg {
  font-size: 30px;
}
.site-bar form {
  width: 280px;
  margin: auto;
  margin-top: 50px;
  border-radius: 30px;
  overflow: hidden;
  background: #32dbc6;
  height: 45px;
  border: 1px solid #32dbc6;
}

.site-bar form input {
  height: 100%;
  border: none;
  padding-left: 20px;
  margin-top: -2px;
  background: none;
  color: #ffff;
}

.site-bar form button {
  width: 60px;
  height: 58px;
  background: #fff;
  border: none;
  margin-top: -8px;
}

.site-bar form ::placeholder {
  color: #353a40;
  font-size: 16px;
  text-transform: capitalize;
}
a.bar_btn {
  font-size: 32px;
  margin-top: 16px; 
  display: block;
}

/* site-bar css END */


 




/*----------------------------------------*/
/*   Header-area CSS END
/*----------------------------------------*/


.Hero-area {
  height: 902px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 2;
}

.Hero-area:after {content: "";position: absolute;width: 100%;height: 100%;background: #32DBC6;top: 0;left: 0;z-index: -1;opacity: .3;transition: .3s;}

.Hero-area:hover:after {
  opacity: .4;
}

.hero-wrp h1 {
  font-size: 90px;
  color: #fff;
  line-height: 120px;
}
.hero-wrp a.theme-btn {
  margin-top: 90px;
}


/*----------------------------------------*/
/*   Hero--area CSS END
/*----------------------------------------*/



/* section-title */
.section-title h1 {
  font-size: 70px;
  line-height: 94px;
  position: relative;
  padding-bottom: 100px;
} 
.section-title h1:after {content: "";position: absolute;width: 196px;height: 6px;background: #32DBC6;bottom: 70px;left: 50%;transform: translate(-50%);border-radius: 2px;}

/* section-title */


.Services-area {
  padding: 85px 0;
}

.Services-area .services-box {
  text-align: center;
  box-shadow: 0px 0px 11px 2px #e8e8e8;
  border-radius: 10px;
  height: 298px;
  overflow: hidden;
  margin: 0 33px;
  margin-top: 50px;
  padding-top: 25px;
}
.Services-area .services-box h6 {
  font-size: 20px;
  color: #707070;
  line-height: 27px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.Services-area .services-box img {
  height: 59px;
  margin-bottom: 10px;
}

 

.Services-area .services-box p span {
  display: block;
}
.Services-area .services-btn {
  margin-top: 75px;
  margin-bottom: 15px;
}

.Services-area .services-btn a.theme-btn {
  border: 2px solid #32DBC6;
}


 

/*----------------------------------------*/
/*   Services-area CSS END
/*----------------------------------------*/


.feture-area {
  background: #F6F6F6;
  padding: 85px 0;
  padding-bottom: 140px;
}

.feture-area .slider-item {
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 11px 0px #00000045;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}
.feture-area .slider-item img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 25px;
}
.feture-area .slider-item h5 {
    font-size: 17px;
    color: #32DBC6;
    margin-bottom: 15px;
}
.feture-area .slider-item p {
    font-size: 16px;
    color: #707070;
    line-height: 22px;
    margin-bottom: 25px;
}

.feture-area .slider-item a {
  color: #32DBC6;
}
.owl-dots {
  position: absolute;
  left: 50%;
  bottom: -80px;
  transform: translate(-50%);
}
.owl-dots .owl-dot {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  display: inline-block;
  background: #32dbc65e;
  margin: 0 10px;
}

.owl-dot.active {
  background: #32DBC6;
}

 


/*----------------------------------------*/
/*   Feture-area CSS END
/*----------------------------------------*/


.Details-area {
  padding-top: 100px;
}

.Details-area .details-box {
  text-align: center;
}

.Details-area .container-fluid {
  padding: 0 120px;
}

.Details-area .details-box img {
  height: 86px;
  margin-bottom: 25px;
}

.Details-area .details-box h4 {
  font-size: 30px;
  font-family: SegoeBold;
  color: #707070;
  line-height: 40px;
}

.Details-area .details-box p {
  font-size: 22px;
  margin: 0;
}

.Details-area .details-box p span {
  display: block;
}

.details-box {
  margin-bottom: 100px;
}

/* top-details-css END */

.bottom-details {background: #32DBC6;}
.bottom-details .container-fluid {
  padding: 0 !important;
  overflow: hidden;
}
.bottom-details .detsils-logo {
  width: 100%;
  height: 100%;
  background: #414850;
  position: relative;
  text-align: center;
  min-width: 335px;
  max-width: 335px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.bottom-details .detsils-logo h4 {
  font-size: 30px;
  color: #fff;
}

.bottom-details .detsils-logo:after {content: "";position: absolute;width: 9px;height: 250px;background: white;right: -9px;top: 50%;transform: translate(-50%, -50%);}
.details-content p {
  line-height: 40px;
  font-size: 30px;
  color: #fff;
  margin-left: 50px;
  margin-bottom: 0;
}

.details-content {
  display: flex;
  align-items: center;
}

.details-content p span {
  display: block;
}

.details-content p a {
  color: #707070;
}



/*----------------------------------------*/
/*   Details-area CSS END
/*----------------------------------------*/


.Footer-area {
  background: #333333;
  padding-top: 100px;
}

.Footer-area .footer-widget h5 {
  font-size: 20px;
  font-family: SegoeBold;
  color: #fff;
  line-height: 40px;
  margin-bottom: 30px;
}

.Footer-area .footer-widget p {
  margin: 0;
  font-size: 30px;
  color: #737373;
  line-height: 40px;
}

.Footer-area .footer-widget ul li {
  display: block;
}

.Footer-area .footer-widget ul li a {
  display: block;
  color: #737373;
  font-size: 30px;
  line-height: 34px;
}
.Footer-area .footer-widget form {
  width: 410px;
  position: relative;
  overflow: hidden;
  height: 56px;
  display: flex;
  border-radius: 67px;
  margin: auto;
  margin-top: 15px;
}
.Footer-area .footer-widget form input {
  width: 264px;
  height: 100%;
  background: none;
  padding-left: 20px;
  border: 1px solid #ffffff91;
  border-radius: 50px 0px 0 50px;
  outline: none;
}

.Footer-area .footer-widget form button {
  background: #32DBC6;
  border: none;
  width: 145px;
  color: #fff;
  height: 100%;
  padding: 0 !important;
  font-size: 19px;
}

.Footer-area .footer-widget form ::placeholder {
  font-size: 20px;
  color: #ccc;
}
.footer-widget ul.Footer-social li {
  display: inline-block;
  margin: 0 15px;
}
.footer-widget ul.Footer-social {
  text-align: center;
  margin-top: 90px;
}
.copy-right-text {
  margin-top: 80px;
  margin-bottom: 30px;
}

.copy-right-text p {
  font-size: 30px;
  color: #737373;
}
.Footer-area .footer-widget ul li a svg {
  width: 36px;
  height: 36px;
}



/*----------------------------------------*/
/*   Footer-area CSS END
/*----------------------------------------*/
 .headdr-bottom .menu-area nav ul li a { 
        font-size: 20px; 
        margin-left: 40px; 
    }
    .header-top .email-address h5 { 
        margin-left: 85px; 
    }
    .Services-area .services-box { 
        margin: 0 20px;
        margin-top: 50px;
        padding-top: 25px;
    }
    .Details-area .container-fluid {
    padding: 0 120px;
}
    .Details-area .details-box p {
        font-size: 15px; 
        line-height: 22px;
    }
    .Details-area .details-box h4 {
        font-size: 24px; 
    }
    .details-content p {
    line-height: 42px;
    font-size: 25px;
    color: #fff;
    margin-left: 50px;
    margin-bottom: 0;
}
    .Footer-area .footer-widget p { 
        font-size: 20px; 
        line-height: 32px;
    }
    .Footer-area .footer-widget ul li a { 
        font-size: 22px;
        line-height: 30px;
    }
    .Footer-area .footer-widget form {
        width: 370px; 
    }
    .copy-right-text p {
        font-size: 22px; 
    }
    .Details-area .details-box img {
        height: 65px;
        margin-bottom: 20px;
    }

