@import "variable";
@import "mixin";

@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700&display=swap');

*, ::after, ::before{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: $font;
}

header{
    display: block;
    .site-header-wrapper{
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        .site-header{
            color: $maincolor;
            background: $background;
            display: flex;
            height: 72px;
            padding: 12px 24px;
            .site-header-logo{
                position: relative;
                display: flex;
                justify-content: flex-start;
                padding-right: 72px;
                top: -2px;
                flex: 1 1 200px;
            }
            .site-header-nav{
                display: flex;
                .link{
                    color: $maincolor;
                    padding: 9px 14px;
                    text-decoration: none;
                    display: flex;
                    line-height: 24px;
                    transition: .3s ease-in-out;
                    margin-left: 10px;
                    border-radius: 8px;
                    cursor: pointer;
                    div{
                        display: flex;
                        align-items: center;
                        font-size: 16px;
                        font-weight: 500;
                        .icon{
                            font-weight: 200;
                            svg{
                            width: 18px;
                            height: 18px;
                            }
                        }
                        .content{
                            padding-left: 8px;
                        }
                    }
                }
                a:hover{
                    background: #fff;
                }
                .list{
                    color: $maincolor;
                    padding: 15px 12px;
                    box-shadow: inset 0 0 0 1px #15326f;
                    margin-left: 8px;
                    font-size: 12px;
                    font-weight: 700;
                    text-decoration: none;
                    min-height: 40px;
                    line-height: 18px;
                    border-radius: 100px;
                    transition:all 0.25s ease-in-out;
                }
                .list:hover{
                    box-shadow: inset 0 0 0 2px #15326f;
                }
            }
            .nav-icon{
                padding: 17px 17px;
                margin-left: 5px;
                line-height: 24px;
                border-radius: 8px;
                position: relative;
                z-index: 1004;
                display: none;
                cursor: pointer;
                span{
                    width: 18px;
                    height: 2px;
                    border-radius: 1px;
                    background: $maincolor;
                    display: flex;
                    align-items: center;
                    position: relative;
                }
                span.sp1{
                    top: 0px;
                }
                span.sp2{
                    top: 4px;
                }
                span.sp3{
                    top: 8px;
                }
            }
        }
    }
    .hero-image{
        position: relative;
        background-image: url(../images/9dc3245f-65ea-4b01-b2cb-98775d746ee0.hw8.jpg);
        background-size: cover;
        z-index: -1;

        .headline{
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: center;
            padding-top: 150px;
            position: relative;
            text-align: center;
            min-height: 448px;
            h1{
                font-size: 40px;
                line-height: 50px;
                color: #fff;
                text-shadow: 0 2px 4px rgba(0,0,0,.5);
                span{
                    display: block;
                }
            }
        }
    }
}
section{
    margin: 0 auto 64px;
}
section.main{
    margin-left: 60px;
    margin-right: 60px;
    .content{
        padding-top: 35px;
        margin: 0 -56px;
        .carousel{
            margin: 0 auto 58px;
            .cardcarousel{
                margin: 0;
                .cardcarousel-header{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin: 0 8.33333%;
                    h1{
                        margin-top: 0;
                        padding: 0 8px;
                        margin-left: 8px;
                        flex: 1 1 auto;
                        font-size: 1.5rem;
                        line-height: 2rem;
                        margin-bottom: 16px;
                    }
                }
                .cardcarousel-header::before{
                    content: "";
                    display: block;
                    width: 8.33333%;
                    flex: 0 0 auto;
                }
                .cardcarousel-header::after{
                    content: "";
                    display: block;
                    width: 8.33333%;
                    flex: 0 0 auto;
                }
                .cardcarousel-content{
                    display: flex;
                    width: 100%;
                    .CardCarousel-nav-prev{
                        justify-content: flex-end;
                    }
                    .CardCarousel-nav-next{
                        justify-content: flex-start;
                    }
                    .CardCarousel-nav{
                        padding-top: 144px;
                        display: flex;
                        background: transparent;
                        border: 0;
                        width: 8.33333%;
                        position: relative;
                        outline: none;
                        cursor: pointer;
                        flex: 0 0 auto;
                        div{
                            
                            .btn-icon{
                                cursor: pointer;
                                color: #717171;
                                background-color: #fff;
                                box-shadow: inset 0 0 0 1px #908f8f;
                                width: 48px;
                                height: 48px;
                                border-radius: 50%;
                                border: .2px solid  hsla(0,0%,50%,.5);
                                text-align: center;
                                padding: 0;
                                transition: all .25s ease-in-out;
                            }
                            .btn-icon:hover{
                                box-shadow: inset 0 0 0 2px $ourcolor;
                                color: $ourcolor;
                            }
                            .btn-icon:focus{
                                outline: none;
                            }
                        }
                    }
                }
                .CardCarousel-container{
                    margin: -6px 8px 0 8px;
                    width: 100%;
                    overflow: hidden;
                    position: relative;
                    .CardCarousel-viewbox{
                        transform: translateX(0%);
                        display: flex;
                        position: relative;
                        align-items: flex-start;
                        overflow-x: hidden;
                        scroll-behavior: smooth;
                        .CardCarousel-card-container{
                            width: 25%;
                            padding: 6px 8px;
                            position: relative;
                            overflow: hidden;
                            flex-shrink: 0;
                            .card{
                                display: block;
                                text-decoration: none;
                                .card-content{
                                    cursor: pointer;
                                    transition: transform .65s ease;
                                    .cardimagedefault{
                                        overflow: hidden;
                                        border-radius: 4px;
                                        height: auto;
                                        width: 100%;
                                        background-color: #f5f4f3;
                                        position: relative;
                                        transform-style: preserve-3d;
                                        div{
                                            width: 100%;
                                            height: 100%;
                                            position: relative;
                                            top: 0;
                                            left: 0;
                                            perspective: 500px;
                                            transform: none;
                                            transform-origin: center;
                                            transition: transform .65s ease;
                                            display: flex;
                                            justify-content: center;
                                            img{
                                                transition: transform .65s ease;
                                            }
                                        }
                                    }
                                    .cardimagedefault::before{
                                        content: "";
                                        display: block;
                                    }
                                    .cardtextdefault{
                                        position: relative;
                                        margin-top: 8px;
                                        color: #292929;
                                        .text p{
                                            font-size: 14px;
                                        }
                                    }
                                }
                                .card-content:hover .cardimagedefault div img{
                                    transform: scale(1.05);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
section.services{
    div{

        ul.servicelist{
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            max-width: 83.3333%;
            margin: 0 auto;
            padding: 0 16px;
            li{
                flex-direction: column;
                height: auto;
                display: flex;
                color: #292929;
                width: 25%;
                .icon{
                    padding-top: 0;
                    font-size: 30px;
                    color: $ourcolor;
                    margin-bottom: 10px;
                }
                .text{
                    padding-right: 40px;
                    padding-left: 0;
                    h3{
                        margin: 0;
                        font-size: 13px;
                        line-height: 1.5rem;
                        font-weight: bold;
                    }
                    p{
                        padding-right: 0;
                        margin-bottom: 0;
                        font-size: 12px;
                        line-height: 1.4rem;
                    }
                }
            }
        }
    }
}
section.find-spaces{
    background-color: #fff;
    margin: 0px 60px 0;
    .content{
        padding-top: 35px;
        margin: 0 -56px;
        .carousel{
            margin: 0 auto 58px;
            .cardcarousel{
                margin: 0;
                .cardcarousel-header{
                    display: flex;
                    margin: 0;
                    flex-direction: row;
                    align-items: flex-end;
                    margin: 0;
                    h1{
                        margin-top: 0;
                        padding: 0 8px;
                        margin-left: 8px;
                        flex: 1 1 auto;
                        font-size: 1.5rem;
                        line-height: 2rem;
                    }
                }
                .cardcarousel-header::before{
                    content: "";
                    display: block;
                    width: 8.33333%;
                    flex: 0 0 auto;
                }
                .cardcarousel-header::after{
                    content: "";
                    display: block;
                    width: 8.33333%;
                    flex: 0 0 auto;
                }
                .cardcarousel-content{
                    display: flex;
                    width: 100%;
                    .CardCarousel-nav-prev{
                        justify-content: flex-end;
                    }
                    .CardCarousel-nav-next{
                        justify-content: flex-start;
                    }
                    .CardCarousel-nav{
                        padding-top: 70px;
                        display: flex;
                        background: transparent;
                        border: 0;
                        width: 8.33333%;
                        position: relative;
                        outline: none;
                        cursor: pointer;
                        flex: 0 0 auto;
                        div{
                            
                            .btn-icon{
                                cursor: pointer;
                                color: #717171;
                                background-color: #fff;
                                box-shadow: inset 0 0 0 1px #908f8f;
                                width: 48px;
                                height: 48px;
                                border-radius: 50%;
                                border: .2px solid  hsla(0,0%,50%,.5);
                                text-align: center;
                                padding: 0;
                                transition: all .25s ease-in-out;
                            }
                            .btn-icon:hover{
                                box-shadow: inset 0 0 0 2px $ourcolor;
                                color: $ourcolor;
                            }
                            .btn-icon:focus{
                                outline: none;
                            }
                        }
                    }
                }
                .CardCarousel-container{
                    margin: -6px 8px 0 8px;
                    width: 100%;
                    overflow: hidden;
                    position: relative;
                    .CardCarousel-viewbox{
                        transform: translateX(0%);
                        display: flex;
                        position: relative;
                        align-items: flex-start;
                        overflow: hidden;
                        scroll-behavior: smooth;
                        .CardCarousel-card-container{
                            width: 25%;
                            padding: 6px 8px;
                            position: relative;
                            overflow: hidden;
                            flex-shrink: 0;
                            .card{
                                display: block;
                                text-decoration: none;
                                .card-content{
                                    cursor: pointer;
                                    transition: transform .65s ease;
                                    .cardimagedefault{
                                        overflow: hidden;
                                        border-radius: 4px;
                                        height: auto;
                                        width: 100%;
                                        background-color: #f5f4f3;
                                        position: relative;
                                        transform-style: preserve-3d;
                                        div{
                                            width: 100%;
                                            height: 100%;
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            perspective: 500px;
                                            transform: none;
                                            transform-origin: center;
                                            transition: transform .65s ease;
                                            display: flex;
                                            justify-content: center;
                                            img{
                                                transition: transform .65s ease;
                                            }
                                        }
                                    }
                                    .cardimagedefault::before{
                                        content: "";
                                        display: block;
                                        padding-top: 75%;
                                    }
                                    .cardtextdefault{
                                        position: relative;
                                        margin-top: 8px;
                                        color: #292929;
                                        .text p{
                                            font-size: 14px;
                                        }
                                    }
                                }
                                .card-content:hover .cardimagedefault div img{
                                    transform: scale(1.05);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
section.property{
    div{
        .lyp{
            background-image: url(../images/1bb3a26d-9eff-45c8-815e-3890dfdd514d.hp-lyp-large.jpg);
            padding: 220px;
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            margin: 0;
            color: #fff;
            .lyp-overlay{
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background-color: #333;
                opacity: .5;
            }
            .container{
                position: relative;
                max-width: 100%;
                text-align: center;
                h2{
                    color: #fff;
                    font-size: 20px;
                    font-weight: normal;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 60px;
                    max-width: 495px;
                    line-height: 35px;
                }
                .lyp-btn{
                    padding: 16px 32px;
                    color: #fff;
                    text-decoration: none;
                    font-weight: bold;
                    border-radius: 100px;
                    background-color: rgba(0,0,0,.7);
                    border-color: transparent;
                    color: #fff;
                    box-shadow: none;
                }
            }
        }
    }
}
section.contact{
    margin: 0px 60px 0;
    div{
        .container {
            max-width:100%;
            width:100%;
            margin:0 auto;
            position:relative;
        }
        #contact {
            background-color: #fff;
            margin: 0px 60px 0;
            padding:25px;
            margin:50px 0;
        }
        fieldset {
            border: medium none !important;
            margin: 0 0 10px;
            padding: 0;
            width: 100%;
        }
        #contact div{
            display: flex;
        }
        #contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact textarea {
            width:95%;
            border:1px solid #908f8f;
            margin:0 0 5px;
            height: 56px;
            padding: 15px 16px;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5rem;
            color: #292929;
            background-color: #fff;
            background-image: none;
            border-radius: 4px;
            box-shadow: none;
            outline: none;
        }
        #contact textarea{
            width: 60%;
        }
        
        #contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
            transition:border-color 0.3s ease-in-out;
            border:1px solid #AAA;
        }
        
        #contact textarea {
            height:100px;
            max-width:100%;
            resize:none;
        }
        
        #contact button[type="submit"] {
            cursor:pointer;
            font-size:15px;
            padding: 16px 32px;
            background-color: $ourcolor;
            text-decoration: none;
            font-weight: bold;
            border-radius: 8px;
            border-color: transparent;
            color: #fff;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        
        #contact button[type="submit"]:hover {
            background-color: $maincolor;
            transition:background-color 0.3s ease-in-out;
        }
        
        #contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }
        
        #contact input:focus, #contact textarea:focus {
            outline:0;
            border:1px solid #999;
        }
    }
}
footer{
    display: block;
    background-color: $background;
    padding: 30px 60px 0px 60px;
    text-align: center;
    .sosial{
        padding: 0;
        ul{
            display: flex;
            list-style: none;
            justify-content: center;
            margin: 20px 0;
            li{
                margin: 0 15px;
                font-size: 28px;
                color: $maincolor;
            }
        }
    }
    .copy{
        text-align: center;
        padding-bottom: 5px;
        p{
            margin-bottom: 0;
        }
    }
}


.site-header-menu{
    width: 100%;
    display: none;
    div #backdrop{
        background-color: #050607;
        display: none;
        height: 100%;
        left: 0;
        opacity: .8;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1001;
    }
    .site-header-menu-container{
        display: none;
        background-color: $background;
        position: fixed;
        height: 100%;
        width: 90%;
        right: 0;
        max-width: 320px;
        z-index: 1002;
        .site-header-menu-content{
            padding: 56px 0px;
            a {
                color: $maincolor;
                text-decoration: none;
                div{
                    padding: 20px;
                    color: $maincolor;
                    text-decoration: none;
                }
                div:hover{
                    background-color: #fff;
                }
            }
        }
    }
}
#popupbox{
    display: none;
    div .backdrop{
        background-color: #050607;
        height: 100vh;
        left: 0;
        opacity: .8;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1010;
        pointer-events: all;
    }
    .container{
        width: 80%;
        position: absolute;
        left: 50%;
        top: 50px;
        transform: translateX(-50%);
        background-color: $background;
        border: 1px solid $maincolor;
        border-radius: 8px;
        z-index: 1011;
        padding: 35px 35px;
        .content{
            display: block;
            .info{
                display: block;
                width: 100%;
                justify-content: space-evenly;
                .price h4{
                    font-size: 20px;
                }
            }
            div input{
                outline: none;
                padding: 12px 10px;
                margin: 8px 0px;
                width: 220px;
                border: 0.8px solid $maincolor;
                border-radius: 5px;
                color: #292929;
                text-transform: uppercase;
            }
            input:focus{
                border: 1px solid $maincolor;
            }
            h4{
                margin: 15px 0 0 0;
                font-size: 14px;
            }
        }
    }
}
.site-header-tray-fixed{
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
#contact-box{
    position: absolute;
    width: 100%;
    height: 100vw;
    top: 0;
    left: 0;
    margin: auto;
    display: flex;
    z-index: 500;
    display: none;
    .backbox{
        background-color: #050607;
        display: block;
        height: 100vw;
        left: 0;
        opacity: .8;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 501;
    }
    .content{
        position: relative;
        z-index: 502;
        background-color: $background;
        width: 90%;
        margin: auto;
        padding: 50px;
        border-radius: 8px;
        
        .close{
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;
            font-size: 40px;
            line-height: 20px;
        }
        input{
            width: 240px;
            height: 30px;
            outline: none;
            border: none;
            position: relative;
        }
        .label-register{
            margin: 15px 0;
            position: relative;
        }
    }
}
.register-box {
    border: 1px solid #e4e4e4;
    min-height: 350px;
    padding: 20px;
    background: #fff;
    position: relative;
  }
  
  .register-box h1 {
    text-align: center;
  }
  
  .register-box h3 {
    text-align: center;
  }
  
  .register-box p {
    text-align: center;
  }
  
  .popup {
    position: fixed;
    top: 0px;
    z-index: 999;
    width: 100%;
    display: none;
  }
  
  .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
  }
  
  .label-register {
    display: block;
    line-height: 22px;
    margin: 0px 0px 5px;
  }
  
  .btn-outline {
    padding: 6px 15px 8px 15px;
    color: white;
    background: $maincolor;
    max-width: 350px;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 23px;
    letter-spacing: 0.05em;
    font-weight: bold;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .btn-outline:hover {
    color: $maincolor;
    background: white;
    border-color: $maincolor;
  }


.nav-menu-icon-close{
    .sp1{
        transition: all 0.4s ease-out;
        transform: rotate(45deg);
        top: 4px !important;
    }
    .sp3{
        transition: all 0.4s ease-out;
        transform: rotate(-45deg);
        top: 0px !important;
    }
    .sp2{
        transition: all 0.4s ease-out;
        opacity: 0;
    }
}